---
# SSH Security configuration
ssh_port: 27015
ssh_permit_root_login: "prohibit-password"
ssh_password_authentication: "no"
ssh_pubkey_authentication: "yes"
ssh_max_auth_tries: 3
ssh_client_alive_interval: 300
ssh_client_alive_count_max: 2
ssh_x11_forwarding: "no"
ssh_allow_tcp_forwarding: "no"
